twitchAPI==2.1.0
Mastodon.py==1.5.1
boto3==1.17.21
hvac==0.10.14
tweepy==4.14.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability